<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <table class="table">
              <thead style="background-color: #f44336; color: #fff;">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Clima</th>
                  <th scope="col">Diametro</th>
                  <th scope="col">Gravedad</th>
                  <th scope="col">Terreno</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let people of dataPlanets">
                  <th scope="row">{{people.name}}</th>
                  <td>{{people.climate}}</td>
                  <td>{{people.diameter}}</td>
                  <td>{{people.gravity}}</td>
                  <td>{{people.terrain}}</td>
                </tr>
              </tbody>
            </table>   
            <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="changePage(1)">1</a></li>
                <li class="page-item"><a class="page-link" (click)="changePage(2)">2</a></li>
                <li class="page-item"><a class="page-link" (click)="changePage(3)">3</a></li>
                <li class="page-item"><a class="page-link" (click)="changePage(4)">4</a></li>
                <li class="page-item"><a class="page-link" (click)="changePage(5)">5</a></li>
                <li class="page-item"><a class="page-link" (click)="changePage(6)">6</a></li>
                <li class="page-item"><a class="page-link" (click)="changePage(7)">7</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
  